.btn {
  display: inline-block;
  background: hsl(205, 78%, 60%);
  color: white;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s linear;
}

#search-form {
  margin: auto;
  width: 30%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#search-form .btn {
  width: 90%;
}