#recipe-finder {
    width: 90%;
    display: block;
    position: relative;
    margin: auto;
}

.recipe {
    display: grid;
    height: 350px;
    grid-template-rows: auto 20%;
    float: left;
    padding: 10px;
    margin-bottom: 30px;
}

.recipe h4 {
    text-align: center;
    width: 300px;
}

h2 {
    text-align: center;
}