#recipe-finder {
    width: 90%;
    margin:auto;
}

.recipe {
    display: grid;
    float: left;
    padding: 10px;
}

.recipe h4 {
    text-align: center;
    width: 300px;
}

h2 {
    text-align: center;
}